.collectionName{
    text-align: center;
    align-self: center;
    justify-self: center;

}

.select{
    display: flex;
}

.link{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
    color: black;
    text-align: start;
}