.posterImage{
    border-radius: 1.5em;
    height: 25em;
    background-position: center center;
    background-repeat: no-repeat;

}
.title{
    width: 50%;
    font-size: 1.3rem;
    color: blue;
}

.favoritesIconWrapper{
    display: flex;
    width: 50%;
    flex-direction: row-reverse;
}

.favoritesIcon{
    height: 1.5em;
    width: 1.5em;   
}

.propertiesContainer{
    display: inline-flex; 
    flex: 1;
    align-items: center;
}

.vote_count{
    display: inline-flex;
    width: 50%;
    flex-direction: row;
    margin-right: 1em;
    text-align: start;
    align-content: flex-start;
    justify-content:flex-start;
}


.rate_image{
    height: 1.5em;
    width: 1.5em; 
    margin-right: 1em; 
    align-self: center;
    justify-self: center; 
}

.year{
    width: 50%;
    flex-direction: row;
    justify-self: end;
    text-align: end;
    
}

.link{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
    color: black;
    text-align: start;
}