.movies{
    display: grid;
    grid-template-columns: repeat(auto-fit, 25em);
    grid-column-gap: 2em;
    justify-content: space-evenly;
    grid-row-gap: 2em;
    list-style: none;
    padding-inline-start: 0px !important;
    
}

.movies-item{
    display: flex;
    flex-direction: column;
    border-radius: 1.5em;
    padding: 1em;
    margin: 1em;
    box-shadow: 2px 2px rgba(0, 0, 0, .10);  
    background: rgba(234,225,225, .1); 
}